* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gridContainer {
    display: grid;
    grid-template-rows: 3fr 16fr 1fr;
    grid-row: 1fr 5fr 1fr;
    --color: brown;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 65, 197);
}
.body {

    display: grid;
    grid-template-columns: 1fr 4fr;
    --color: red;

}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: rgb(65, 65, 197);
}
.sidebar {
    /* padding: 20px; */
    /* padding: 30px; */
    gap: 50px;
    display: grid;
    background-color: rgb(189, 189, 200);
}
.sidebar div {
    margin: 20px;
}
.todos {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}
.todos div {
    margin: 20px;

}
.list div:hover {
    background-color: red;
}
.views div:hover {
    background-color: red;
}
.projects div:hover {
    background-color: red;

}
#myForm {
    border-radius: 10px;
    padding: 40px;
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    width: 600px; /* set the form width */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(11, 54, 225, 0.4); /* black w/ opacity */
  }
  #myForm2 {
    border-radius: 10px;
    padding: 40px;
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    width: 600px; /* set the form width */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(11, 54, 225, 0.4); /* black w/ opacity */
  }
  .todo {
    display: grid;
    grid-template-columns: .3fr 4fr 1fr 1fr 1fr;
    grid-row: 1fr;
    background-color: blue;
  }
.header {
    background-color: pink;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}
.strikethrough {
    position: relative;
    display: grid;
    grid-template-columns: .3fr 4fr 1fr 1fr 1fr;
    grid-row: 1fr;
    background-color: blue;
  }

  .strikethrough:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 2px solid;
    transform: translateY(-50%);
  }
  .changeBackground {
    background-color: green;
  }
